/* General Styles */

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-y:hidden;
    font-family: 'Manjari', sans-serif;
}

/* HEADER */

img{
    
    width: 50px;
    height: 50px;
}
/* CONTAINER */

.container {
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}
.content .btnNuevo{
    border-radius: 50px;
    border: 1px solid #000000;
    padding: 15px 25px;
    margin: 0px 0px 20px 20px;
    background-color: #fff;
 
}

.container>.header, .container>.content, .container>.sidebar, .container>.footer, .container>div {
    background: #fff;
    padding: 20px;
    border: 1px solid #000000;
}

.container>.header, .container>.footer {
    grid-column: 1/-1;

}

.container>.content {
    grid-column: span 1;
    grid-row: span 16;
    border-radius: 20px;
}
.container>.content div{
    padding-top: 10px;
    padding-bottom: 5px;
    height: 40px;
}


.container>.sidebar {
    grid-column: span 4;
    grid-row: span 16;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .sidebar img {
    display: block;
    width: 100%;
    margin-top: 5px;
}


.container>.content:hover {
    cursor: pointer;
    color: #000000;
    background: #ffffff;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .header {
        text-align: justify;
    }
    .container .content {
        grid-column: 1 / -1;
    }
    .container .sidebar {
        grid-column: 1 / 6;
    }

    .container .related-post {
        grid-column: 1/-1;
    }
}